								<section>
									<header class="main">
										<h1>超音波感應器相關運用</h1>
									</header>
										<font color="black" size="4">
										<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>倒車雷達</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>室內短距離3D定位系統</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>拖車接合聯結定位器</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>人體跟隨車(高爾夫桿弟車)</td>
																</tr>
																<tr>
																	<td>5.</td>
																	<td>攝影機人體追蹤器(演講會、補習班，攝影用)</td>
																</tr>
																<tr>
																	<td>6.</td>
																	<td>綠色電腦螢幕控制器(人離開座位馬上關閉電腦螢幕，人回座位馬上打開電腦螢幕)</td>
																</tr>
																<tr>
																	<td>※</td>
																	<td>相關技術支援請與我們連絡</td>
																</tr>
															</tbody>
														</table>
													</div>
												</font>
									
									
												<div style="text-align:center">
													<ul class="pagination">
														<li><a href="#!zh-tw/sensor/p9" class="button">Prev</a></li>
														<li><a href="#!zh-tw/sensor/p1" class="page">1</a></li>
														<li><a href="#!zh-tw/sensor/p2" class="page">2</a></li>
														<li><a href="#!zh-tw/sensor/p3" class="page">3</a></li>
														<li><a href="#!zh-tw/sensor/p4" class="page">4</a></li>
														<li><a href="#!zh-tw/sensor/p5" class="page">5</a></li>
														<li><a href="#!zh-tw/sensor/p6" class="page">6</a></li>
														<li><a href="#!zh-tw/sensor/p7" class="page">7</a></li>
														<li><a href="#!zh-tw/sensor/p8" class="page">8</a></li>
														<li><a href="#!zh-tw/sensor/p9" class="page">9</a></li>
														<li><a  class="page active">10</a></li>
														<li><span class="button disabled">Next</span></li>
													</ul>
												</div>
								</section>