								<section>
									<header class="main">
										<h1>超音波換能器SU-40TR18CASE</h1>
									</header>
										<div style="text-align:center">
											<p><h2>外貼式外殼組</h2></p>
											<div class="box alt">
											<div class="row 50% uniform">
											<div class="2u"><span class="image fit"></span></div>
											<div class="8u"><span class="image fit"><img src="images/sensor/s6_1.jpg" alt="" /></span></div>
											<div class="2u$"><span class="image fit"></span></div>
											</div></div>
											<p><h2>組件列表： 1.上蓋 2.下蓋 3.矽膠 4.吸音棉 5.螺絲 6.雙面膠</h2></p>
										</div>
									
									
									
												<div style="text-align:center">
													<ul class="pagination">
														<li><a href="#!zh-tw/sensor/p5" class="button">Prev</a></li>
														<li><a href="#!zh-tw/sensor/p1" class="page">1</a></li>
														<li><a href="#!zh-tw/sensor/p2" class="page">2</a></li>
														<li><a href="#!zh-tw/sensor/p3" class="page">3</a></li>
														<li><a href="#!zh-tw/sensor/p4" class="page">4</a></li>
														<li><a href="#!zh-tw/sensor/p5" class="page">5</a></li>
														<li><a  class="page active">6</a></li>
														<li><a href="#!zh-tw/sensor/p7" class="page">7</a></li>
														<li><a href="#!zh-tw/sensor/p8" class="page">8</a></li>
														<li><a href="#!zh-tw/sensor/p9" class="page">9</a></li>
														<li><a href="#!zh-tw/sensor/p10" class="page">10</a></li>
														<li><a href="#!zh-tw/sensor/p7" class="button">Next</a></li>
													</ul>
												</div>
								</section>