								<section>
									<header class="main">
										<h1>超音波換能器SU-40TR18DE</h1>
									</header>
									<div class="posts">
										<article>
											<div class="table-wrapper">
												<table class="alt" >
													<tbody align="center">
														<tr>
															<td><strong>代   號</strong></td>
															<td>SU-40TR18DE</td>
														</tr>
														<tr>
															<td><strong>品   名</strong></td>
															<td>雙角度密閉式超音波換能器</td>
														</tr>
														<tr>
															<td  colspan="2"><strong>規&nbsp;格&nbsp;說&nbsp;明</strong></td>
														</tr>
														<tr>
															<td>Construction</td>
															<td>Waterproof type</td>
														</tr>
														<tr>
															<td>Using Method</td>
															<td>Receiver and Transmitter (Dual use) type</td>
														</tr>
														<tr>
															<td>Nominal  Frequency (KHZ)</td>
															<td>40 ± 1K</td>
														</tr>
														<tr>
															<td>Sensitivity (dB)</td>
															<td>-78</td>
														</tr>
														<tr>
															<td>Sound Pressure (dB)</td>
															<td>107</td>
														</tr>
														<tr>
															<td>Directivity (deg)</td>
															<td>120 x 45</td>
														</tr>
														<tr>
															<td>Capacitance (pF)</td>
															<td>1800 ± 20%</td>
														</tr>
														<tr>
															<td> Operating Temp. Range (℃)</td>
															<td>-40 ~ +85</td>
														</tr>
														<tr>
															<td>Detectable Range (m)</td>
															<td>0.2 ~ 1.5</td>
														</tr>
														<tr>
															<td>Resolution (mm)</td>
															<td>9</td>
														</tr>
														<tr>
															<td>Color</td>
															<td>Black</td>
														</tr>
														<tr>
															<td>Dimension (mm)</td>
															<td>18Φ x 9h</td>
														</tr>
														<tr>
															<td>Weight (g)</td>
															<td>3</td>
														</tr>
														<tr>
															<td>Allowable Input Voltage (Vp-p) (Rectangular wave)</td>
															<td>100Vpp Pulse width 0.8ms Interval 60ms</td>
														</tr>
														<tr>
															<td>Packaging Quantity (Pcs.)</td>
															<td>1000</td>
														</tr>
													</tbody>
												</table>
											</div>
										</article>
										<article>
										<div style="text-align:center">
											<h2>照片</h2>
											<span class="image main"><img src="images/sensor/s3.jpg" alt="" /></span>
											<h2>形   狀   及   尺   寸</h2>
											<span class="image main"><img src="images/sensor/s7_1.jpg" alt="" /></span>
											<h2>形 狀 及 感 應 角 度</h2>
											<span class="image main"><img src="images/sensor/s7_2.jpg" alt="" /></span>
										</div>
										</article>
									</div>
												<div style="text-align:center">
													<ul class="pagination">
														<li><a href="#!zh-tw/sensor/p6" class="button">Prev</a></li>
														<li><a href="#!zh-tw/sensor/p1" class="page">1</a></li>
														<li><a href="#!zh-tw/sensor/p2" class="page">2</a></li>
														<li><a href="#!zh-tw/sensor/p3" class="page">3</a></li>
														<li><a href="#!zh-tw/sensor/p4" class="page">4</a></li>
														<li><a href="#!zh-tw/sensor/p5" class="page">5</a></li>
														<li><a href="#!zh-tw/sensor/p6" class="page">6</a></li>
														<li><a  class="page active">7</a></li>
														<li><a href="#!zh-tw/sensor/p8" class="page">8</a></li>
														<li><a href="#!zh-tw/sensor/p9" class="page">9</a></li>
														<li><a href="#!zh-tw/sensor/p10" class="page">10</a></li>
														<li><a href="#!zh-tw/sensor/p8" class="button">Next</a></li>
													</ul>
												</div>
								</section>