								<section>
									<header class="main">
										<h1>超音波換能器SU-ATA01</h1>
									</header>
									<div class="posts">
										<article>
											<div class="table-wrapper">
												<table class="alt" >
													<tbody align="center">
														<tr>
															<td><strong>代   號</strong></td>
															<td>SU-ATA01</td>
														</tr>
														<tr>
															<td><strong>品   名</strong></td>
															<td>超音波溫度補償模組</td>
														</tr>
														<tr>
															<td  colspan="2"><strong>規&nbsp;格&nbsp;說&nbsp;明</strong></td>
														</tr>
														<tr>
															<td>Supply Voltage (V)</td>
															<td>5</td>
														</tr>
														<tr>
															<td>Supply Current (mA)</td>
															<td>0.1</td>
														</tr>
														<tr>
															<td>Input Control Bit Min Voltage (V)</td>
															<td>5</td>
														</tr>
														<tr>
															<td>Input Control Bit Max Voltage (V)</td>
															<td>20</td>
														</tr>
														<tr>
															<td>Input Control Bit Current (mA)</td>
															<td>5</td>
														</tr>
														<tr>
															<td>Capacitance Range (pF)</td>
															<td>0 ~ 700</td>
														</tr>
														<tr>
															<td>One Step Capacitance (pF)</td>
															<td>100</td>
														</tr>
														<tr>
															<td>Sensor Pin Max Voltage (V)</td>
															<td>500</td>
														</tr>
														<tr>
															<td>Operation Temp Range (℃)</td>
															<td>-40 ~ +80</td>
														</tr>
														<tr>
															<td>Dimension (mm)</td>
															<td>(L),(W),(H)</br>48,22.5,12</br></td>
														</tr>
														<tr>
															<td>Weight (g)</td>
															<td>18</td>
														</tr>
													</tbody>
												</table>
											</div>
										</article>
										<article>
										<div style="text-align:center">
											<h2>照片</h2>
											<span class="image main"><img src="images/sensor/s9_1.jpg" alt="" /></span>
											<h2>形   狀   及   尺   寸</h2>
											<span class="image main"><img src="images/sensor/s9_2.jpg" alt="" /></span>
										</div>
										</article>
								</section>
								<section>
									<div class="posts">
										<article>
											<div class="table-wrapper">
												<table class="alt" >
													<tbody align="center">
														<tr>
															<td  colspan="3"><strong>輸 出 功 能 表</strong></td>
														</tr>
														<tr>
															<td>CB2   CB1   CB0</td>
															<td>SEN1 CAP (pF)</td>
															<td>SEN2 CAP (pF)</td>
														</tr>
														<tr>
															<td>0     0     0</td>
															<td>0</td>
															<td>0</td>
														</tr>
														<tr>
															<td>0     0     1</td>
															<td>100</td>
															<td>100</td>
														</tr>
														<tr>
															<td>0     1     0</td>
															<td>200</td>
															<td>200</td>
														</tr>
														<tr>
															<td>0     1     1</td>
															<td>300</td>
															<td>300</td>
														</tr>
														<tr>
															<td>1     0     0</td>
															<td>400</td>
															<td>400</td>
														</tr>
														<tr>
															<td>1     0     1</td>
															<td>500</td>
															<td>500</td>
														</tr>
														<tr>
															<td>1     1     0</td>
															<td>600</td>
															<td>600</td>
														</tr>
														<tr>
															<td>1     1     1</td>
															<td>700</td>
															<td>700</td>
														</tr>
													</tbody>
												</table>
											</div>
										</article>
										<article>
											<div class="table-wrapper">
												<table class="alt" >
													<tbody align="center">
														<tr>
															<td  colspan="3"><strong>腳 位 說 明</strong></td>
														</tr>
														<tr>
															<td>Pin NO.</td>
															<td>Pin Name</td>
															<td>Description</td>
														</tr>
														<tr>
															<td>1</td>
															<td>SEN1</td>
															<td>Ultrasonic Sensor 1</td>
														</tr>
														<tr>
															<td>2</td>
															<td>SEN2</td>
															<td>Ultrasonic Sensor 2</td>
														</tr>
														<tr>
															<td>3</td>
															<td>CB0</td>
															<td>Control Input Bit 0</td>
														</tr>
														<tr>
															<td>4</td>
															<td>CB1</td>
															<td>Control Input Bit 1</td>
														</tr>
														<tr>
															<td>5</td>
															<td>CB2</td>
															<td>Control Input Bit 2</td>
														</tr>
														<tr>
															<td>6</td>
															<td>Vss</td>
															<td>Ground</td>
														</tr>
														<tr>
															<td>7</td>
															<td>Vdd</td>
															<td>Positive Supply</td>
														</tr>
													</tbody>
												</table>
											</div>
										</article>
									</div>
												<div style="text-align:center">
													<ul class="pagination">
														<li><a href="#!zh-tw/sensor/p8" class="button">Prev</a></li>
														<li><a href="#!zh-tw/sensor/p1" class="page">1</a></li>
														<li><a href="#!zh-tw/sensor/p2" class="page">2</a></li>
														<li><a href="#!zh-tw/sensor/p3" class="page">3</a></li>
														<li><a href="#!zh-tw/sensor/p4" class="page">4</a></li>
														<li><a href="#!zh-tw/sensor/p5" class="page">5</a></li>
														<li><a href="#!zh-tw/sensor/p6" class="page">6</a></li>
														<li><a href="#!zh-tw/sensor/p7" class="page">7</a></li>
														<li><a href="#!zh-tw/sensor/p8" class="page">8</a></li>
														<li><a  class="page active">9</a></li>
														<li><a href="#!zh-tw/sensor/p10" class="page">10</a></li>
														<li><a href="#!zh-tw/sensor/p10" class="button">Next</a></li>
													</ul>
												</div>
								</section>