								<section>
									<header class="main">
										<h1>聯絡我們</h1>
									</header>
									<!--<p><h2>非常高興您光臨我們公司的網站，感謝您的支持，如對本公司有任何意見，歡迎在此留下您寶貴的建議，請您填寫下面的表單，本公司將儘速與您連絡。</h2></p>-->
									<p><h2>非常高興您光臨我們公司的網站，感謝您的支持，以下是我們的聯絡方式，歡迎隨時來電或是來信聯絡。</h2></p>
									<p></p>
									<!--<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe_rkUU-g4fLXKd8xeX1NogIS-fzrkOGhxg3JsuJUMlPMjvaw/viewform?embedded=true" width="100%" height="1600" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>-->
									<p></p>
									<h2>
									<br></br>
									<div style="text-align:center">
										Tel:886-6-2580620</br>
										Fax:886-6-2596497</br>
										地址:台南市北區和緯路四段117巷4號</br>
										E-mail: suntechnn@yahoo.com.tw</br>
									</div>
									</h2>
									<br> </br>
<!--									<form method="post" action="contactus.php">
														<div class="row uniform">
															<div class="6u 12u$(xsmall)">
																<input type="text" name="name" id="name" value="<?php echo $_POST['name'];?>" placeholder="姓名" />
															</div>
															<div class="3u 12u$(small)">
																<input type="radio" id="male" name="sex" value="男" checked>
																<label for="male">男</label>
															</div>
															<div class="3u 12u$(small)">
																<input type="radio" id="female" name="sex" value="女">
																<label for="female">女</label>
															</div></div>
															<div class="row uniform">
															<div class="6u 12u$(xsmall)">
																<input type="text" name="phone" id="phone" value="<?php echo $_POST['phone'];?>" placeholder="連絡電話(請加區碼)" />
															</div>
															<div class="6u$ 12u$(xsmall)">
																<input type="text" name="cellphone" id="cellphone" value="<?php echo $_POST['cellphone'];?>" placeholder="行動電話" />
															</div>
															<div class="12u$ 12u$(xsmall)">
																<input type="email" name="email" id="email" value="<?php echo $_POST['email'];?>" placeholder="E-mail" />
															</div>
															<div class="12u$ 12u$(xsmall)">
																<input type="text" name="address" id="address" value="<?php echo $_POST['address'];?>" placeholder="地址(請加郵遞區號)" />
															</div>
															
															<div class="12u$">
																<textarea name="remark" id="remark" placeholder="Enter your message" rows="6"><?php echo $_POST['remark'];?></textarea>
															</div>

															<div class="12u$">
																<ul class="actions">
																	<li><input type="submit" id="submit" name="submit" value="送出" class="special" /></li>
																	<li><input type="reset" value="重新填寫" /></li>
																</ul>
															</div>
														</div>
													</form> -->
								</section>
								<section>
								<div style="text-align:center">
										勝立科技有限公司</br>
										台南市北區和緯路四段117巷4號</br>
										Tel: 886-6-2580620&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fax:886-6-2596497</br>
										E-mail: suntechnn@yahoo.com.tw</br>
								</div>
								</section>