								<section id="banner">
									<div class="content">
										<header>
											<h1>About us<br />
											</h1>
											<h4>
											<p>勝立科技有限公司成立於1993年，所持的一貫理念就是，創新突破，品質第一，技術領先。客戶關心的事，就是我們關心的事。製造品質最優良，價格最合理的產品，是我們對客戶的堅持。</p>
											<p>勝立科技有限公司目前主要產品分為，倒車雷達感測元件(密閉式超音波換能器)與家庭自動化控制器兩大類。</p>
											<p>本公司除上述產品之製造、銷售、技術諮詢外，亦接受客戶委託研製相關電子產品。</p>
											</h4>
										</header>
									</div>
									<span class="image object">
									<style type="text/css">.easyhtml5video .eh5v_script{display:none}</style>
<div class="easyhtml5video" style="position:relative;max-width:480px;"><video controls  autoplay="autoplay" poster="eh5v.files/html5video/PhotoStory2.jpg" style="width:100%" title="Video" loop onEnded="var v=this;setTimeout(function(){v.play()},300)">
<source src="eh5v.files/html5video/PhotoStory2.webm" type="video/webm" />
<source src="eh5v.files/html5video/PhotoStory2.ogv" type="video/ogg" />
<source src="eh5v.files/html5video/PhotoStory2.mp4" />
</video><div class="eh5v_script"></div></div>
<script src="eh5v.files/html5video/html5ext.js" type="text/javascript"></script>
									<!--	<img src="images/pic10.jpg" alt="" />-->
									</span>
								</section>

							<!-- Section -->
							<hr size="8px" />
							<!-- Section -->
								<section>
									<header class="major">
										<h2>主要產品項目</h2>
									</header>
									<div class="posts">
										<article>
											<a href="#!zh-tw/autocontrol" class="image"><img src="images/w11_2.jpg" alt="" /></a>
											<h3>家庭自動化</h3>
											<p>專注於研發自動化家庭設備</p>
											<ul class="actions">
												<li><a href="#!zh-tw/autocontrol" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#!zh-tw/sensor" class="image"><img src="images/q3.jpg" alt="" /></a>
											<h3>超音波感測器</h3>
											<p>可應用於倒車雷達及室內短距離3D定位系統等</p>
											<ul class="actions">
												<li><a href="#!zh-tw/sensor" class="button">More</a></li>
											</ul>
										</article>
									</div>
								</section>
								<section>
								<div style="text-align:center">
										勝立科技有限公司</br>
										台南市北區和緯路四段117巷4號</br>
										Tel: 886-6-2580620&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fax:886-6-2596497</br>
										E-mail: suntechnn@yahoo.com.tw</br>
								</div>
								</section>