								<section>
									<header class="main">
										<h1>PIR STAIR LIGHTING SWITCH</h1>
									</header>

									<font  color="black">
									<h2>Product Characters</h2>
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>Sensitive lighting, no need to turn on at dark, less risk of stepping fall.</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>Flexible/Later time to light off after people leave.</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>No necessary to touch on/off the switch, avoid electric shock and wall-dirty.</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>Same as original power system, no need to connection new electric wire.</td>
																</tr>
																<tr>
																	<td>5.</td>
																	<td>Same out-look as original switch, available to change directly.</td>
																</tr>
																<tr>
																	<td>6.</td>
																	<td>Easy fit, D.I.Y. available.</td>
																</tr>
															</tbody>
														</table>
													</div>
										
									
									<h2>Product Introductions</h2>
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>Do you ever search for the switch, but collide with step at dark night when you want up stair? Or same situation but step fall on down stair? Our company provide this wonderful product to solve this problem. When people near the stair, hot infrared sensitive and turn on the light, make sure your safety up / down stair.</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>This product change the circuit switching to automatic sensitive of hot infrared, suitable for stair light or passage light</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>Circuit switching means 2 switchs on two side to control the stair light, fit near the wall up / down stair. Just simply change these two switchs to our product PIR, no matter up or down stair, automatic sensitive lighting immediately.</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>Size, out-looking and structure same as original switch, no need new fit, available to change directly. EASY D.I.Y.</td>
																</tr>
																<tr>
																	<td>5.</td>
																	<td>Automatically sensitive lighting on and few seconds later off. No touch, avoid electric shock and wall-dirty around the switch case.</td>
																</tr>
															</tbody>
														</table>
													</div>
										
									<h2>Product Picture</h2>
									<div class="posts">
										<article>
											<a href="#" class="image"><img src="images/autocontrol/w2_1.jpg" alt="" /></a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/autocontrol/w2_2.jpg" alt="" /></a>
										</article>
									</div>
									
									<h2>Operation Description</h2>
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>LIGHT/DARK DESIGN, no sensitive at day time, and automatically light off 30 seconds later.</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>Press the push-switch once time, change from automatic on/off to hand on/off. Then the LED will shining light, available to hand control light on/off.</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>Keep press the push-switch over 3 seconds, change hand on/off to automatic on/off, LED little light.</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>PIR will be stable operation after ten minutes heating upon power on.</td>
																</tr>
															</tbody>
														</table>
													</div>
										
										
										<h2>Product Specification</h2>
										<div class="table-wrapper">
														<table class="alt">
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>Measurement</td>
																	<td>44×22×37 mm</td>
																</tr>
																<tr>
																	<td>Line Wire</td>
																	<td>ψ1.6 or ψ2.0 mm cut cover 18mm</td>
																</tr>
																<tr>
																	<td>Voltage</td>
																	<td>AC 110V</td>
																</tr>
																<tr>
																	<td>Loading Range</td>
																	<td>5W～80W tungsten lamp，10W～40W fluorescent lamp or power-save lamp</td>
																</tr>
																<tr>
																	<td>Sensitive Distance</td>
																	<td>About 3M</td>
																</tr>
															</tbody>
															<tfoot>
															</tfoot>
														</table>
													</div>
									
									<h2>Lamp Available</h2>
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>Fluorescent lamps are slower speed to start, suggest not used with this product. But you can change electronic starter or electronic ballast fluorescent lamps. Please add a 0.1uF 400V polyester film capacitors parallel connection the lamps.</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>A little brand save power lamps have different electronic circuit design, will cause noncommittal problem (flash). Please add a 0.1uF 400V polyester film capacitors parallel connection the lamps.</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>Traditional tungsten lamps, all brands, all be usable.</td>
																</tr>
															</tbody>
														</table>
													</div>
										
									<h2>Assembly Direction</h2>
									<div class="box alt">
											<div class="row 50% uniform">
											<div class="2u"><span class="image fit"></span></div>
											<div class="8u"><span class="image fit"><img src="images/autocontrol/w2_3e.jpg" alt="" /></span></div>
											<div class="2u$"><span class="image fit"></span></div>
											</div></div>
									
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>Turn off the AC power source, and open these two switch cases of up / down stair. Have the case, take off the wire, please clear up the copper wire if oxidized.</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>From the case of 2F, put wire A on PIR main case hole 1, and on 1F, put wire D on PIR second case hole 1.</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>On 1F, put original one of 2 wires on second PIR case hole 4 (wire B & C, same color mostly).</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>Turn on the AC power source. On 2F, use original one of 2 wires, touch PIR case hole 1 wire A. Wire C will case light lighting. (Another wire without lighting call wire B).</td>
																</tr>
																<tr>
																	<td>5.</td>
																	<td>Turn off the AC power source, put wire C on hole 4.</td>
																</tr>
																<tr>
																	<td>6.</td>
																	<td>Put the last wire B on PIR main case hole 3, second case also hole 3.</td>
																</tr>
																<tr>
																	<td>7.</td>
																	<td>Fit on automatic switch, close the cover, Turn on the AC power source will be OK.</td>
																</tr>
															</tbody>
														</table>
													</div>
										
									
									<h2>Notice</h2>
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>Please put insulated glove before assembly, avoid electric shock.</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>Please read the manual, follow the instruction, avoid to damage the product.</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>Please take note product voltage and load specification.</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>Avoid sun-shine directly and wet.</td>
																</tr>
															</tbody>
														</table>
													</div>
										
									</font>
									<h2>Product Drawing Description</h2>
									<div class="box alt">
											<div class="row 50% uniform">
											<div class="2u"><span class="image fit"></span></div>
											<div class="8u"><span class="image fit"><img src="images/autocontrol/w2_4e.jpg" alt="" /></span></div>
											<div class="2u$"><span class="image fit"></span></div>
											</div></div>
										
												<div style="text-align:center">
													<ul class="pagination">
														<li><a href="#!en-us/autocontrol/p1" class="button">Prev</a></li>
														<li><a href="#!en-us/autocontrol/p1" class="page">1</a></li>
														<li><a  class="page active">2</a></li>
														<li><a href="#!en-us/autocontrol/p3" class="page">3</a></li>
														<li><a href="#!en-us/autocontrol/p4" class="page">4</a></li>
														<li><a href="#!en-us/autocontrol/p5" class="page">5</a></li>
														<li><a href="#!en-us/autocontrol/p3" class="button">Next</a></li>
													</ul>
												</div>
								</section>