								<section>
									<header class="main">
										<h1>HANDCLAP VOICE CONTROL LIGHTING SWITCH</h1>
									</header>

									<font color="black">
									<h2>Product Characters</h2>
								
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>Handclap voice control, no need to find the switch, very convenience.</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>No necessary to touch on/off the switch, avoid electric shock and wall-dirty.</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>Same as original power system, no need to connection new electric wire.</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>Easy fit, D.I.Y. available.</td>
																</tr>
																<tr>
																	<td>5.</td>
																	<td>Same out-look as original switch, available to change directly.</td>
																</tr>
																<tr>
																	<td>6.</td>
																	<td>Suitable for quite area like bedroom, reading room.</td>
																</tr>
															</tbody>
														</table>
													</div>
									
									
									<h2>Product Introductions</h2>
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>Are you feel tired on bed by reading or watch TV, tired to switch off the light, hope to fall sleep directly? Do you suffer for switch searching on dark place, being stumbled by furniture (article) ? Have the handclap voice control switch, you can handclap at bed to turn off the light and sleep, And handclap to turn on the light on midnight time to toilet, save and convenience.</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>Size and out-looking same as traditional switch, available to change directly. Use the same power wave as electric light, same construction , no need new fit.</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>The push-switch can be hand on / off the light, no extra switch case needed.</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>The push-switch can cancel or start handclap function, very convenience.</td>
																</tr>
																<tr>
																	<td>5.</td>
																	<td>This products suitable for quite area such as bedroom, reading room. Noisily environment will effect the handclap voice control function.</td>
																</tr>
															</tbody>
														</table>
													</div>
										
									<h2>Product Picture</h2>
									<div class="posts">
										<article>
											<a href="#" class="image"><img src="images/autocontrol/w4_1.jpg" alt="" /></a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/autocontrol/w4_2.jpg" alt="" /></a>
										</article>
									</div>
									
									<h2>Operation Description</h2>
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>Continued handclap twice time turn on / off the light. The little curve palm to clap will make voice louder. 2 voice should between 0.2-0.5 second.</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>Press the push-switch once time, hand control the light on or off.</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>Press the push-switch over 3 seconds will start (or cancel) the handclap function. LED little light means off the handclap function, and LED high light means on the handclap function.</td>
																</tr>
															</tbody>
														</table>
													</div>
										
										<h2>Product Specification</h2>
										<div class="table-wrapper">
														<table class="alt">
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>Measurement</td>
																	<td>44×22×37 mm</td>
																</tr>
																<tr>
																	<td>Line Wire</td>
																	<td>ψ1.6 or ψ2.0 mm cut cover 18mm</td>
																</tr>
																<tr>
																	<td>Voltage</td>
																	<td>AC 110V</td>
																</tr>
																<tr>
																	<td>Loading Range</td>
																	<td>5W～200W tungsten lamp，10W～100W fluorescent lamp or power-save lamp</td>
																</tr>
																<tr>
																	<td>Power Draw</td>
																	<td>10mW</td>
																</tr>
															</tbody>
															<tfoot>
															</tfoot>
														</table>
													</div>
									
									<h2>Assembly Direction</h2>
									<div class="box alt">
											<div class="row 50% uniform">
											<div class="2u"><span class="image fit"></span></div>
											<div class="8u"><span class="image fit"><img src="images/autocontrol/w4_3e.jpg" alt="" /></span></div>
											<div class="2u$"><span class="image fit"></span></div>
											</div></div>
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>Turn off the AC power source, and open the switch cases. Take off the wire, please clear up the copper wire if oxidized.</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>Put on one original line to sensitive switch hole 1 or 2, another line on hole 3-4.</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>Original switch as drawing 1 and change to sensitive switch as drawing 2.</td>
																</tr>
															</tbody>
														</table>
													</div>
									
									<h2>Notice</h2>
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>Please turn off the AC power source before assembly, avoid electric shock.</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>Please take note product voltage and load specification.</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>Avoid directly sun-shine and wet.</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>Product will enter the handclap voice function after power source on.</td>
																</tr>
																<tr>
																	<td>5.</td>
																	<td>This product suitable for quite area. Noisily environment will wrong instruction of this control system.</td>
																</tr>
																<tr>
																	<td>6.</td>
																	<td>A little brand save power lamps have different electronic circuit design, will cause noncommittal problem (flash). Please add a 0.1uF 400V polyester film capacitors parallel connection the lamps.</td>
																</tr>
															</tbody>
														</table>
													</div>
									</font>
									<h2>Product Drawing Description</h2>
									<div class="box alt">
											<div class="row 50% uniform">
											<div class="2u"><span class="image fit"></span></div>
											<div class="8u"><span class="image fit"><img src="images/autocontrol/w4_4e.jpg" alt="" /></span></div>
											<div class="2u$"><span class="image fit"></span></div>
											</div></div>

												<div style="text-align:center">
													<ul class="pagination">
														<li><a href="#!en-us/autocontrol/p3" class="button">Prev</a></li>
														<li><a href="#!en-us/autocontrol/p1" class="page">1</a></li>
														<li><a href="#!en-us/autocontrol/p2" class="page">2</a></li>
														<li><a href="#!en-us/autocontrol/p3" class="page">3</a></li>
														<li><a  class="page active">4</a></li>
														<li><a href="#!en-us/autocontrol/p5" class="page">5</a></li>
														<li><a href="#!en-us/autocontrol/p5" class="button">Next</a></li>
													</ul>
												</div>
									
								</section>