								<section>
									<header class="main">
										<h1>PIR紅外線感應點燈開關</h1>
									</header>

									<font color="black">
									<h2>產品特性</h2>
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>人來燈就亮，不必摸黑開關，使用便利。</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>可調整延遲關燈時間，人離開燈就滅。</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>不必碰觸開關，防觸電，不會摸髒牆壁。</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>與原配線相同，免重新拉線。</td>
																</tr>
																<tr>
																	<td>5.</td>
																	<td>安裝簡單，可自行DIY。</td>
																</tr>
																<tr>
																	<td>6.</td>
																	<td>外觀與傳統開關相同，可直接替換。</td>
																</tr>
															</tbody>
														</table>
													</div>
										
									
									<h2>產品簡介</h2>
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>您是否有忘了關電燈，導致徹夜電燈沒關浪費電源的困擾，您是否也有在黑暗中摸索開關，被物品絆到跌倒的困擾。這種情形在地下室、儲藏室、樓梯間、玄關、走道……等偶而才經過的地方特別明顯，安裝了本產品之後，人到燈就亮，人離開一段時間後燈就滅，安全方便不浪費電力。</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>外觀尺寸大小與傳統開關相同，可直接替換。與原來配線相同，不用再重新拉線。</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>可依個人喜好及使用環境調整感應距離，延遲關燈時間，感應啟動時外界之光度。</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>有手動自動切換開關，保留手動開關燈的功能，不用再外加開關。</td>
																</tr>
																<tr>
																	<td>5.</td>
																	<td>全自動感應開燈，延時關燈，不用動手，防止觸電，不會摸髒開關周圍的牆壁。</td>
																</tr>
															</tbody>
														</table>
													</div>
										
									<h2>產品照片</h2>
									<div class="posts">
										<article>
											<a href="#" class="image"><img src="images/autocontrol/w1_1.jpg" alt="" /></a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/autocontrol/w1_2.jpg" alt="" /></a>
										</article>
									</div>
									
									<h2>操作說明</h2>
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>明暗旋鈕可調整感應啟動電燈時外界的光度。</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>靈敏度旋鈕可調整人體感應之距離，+感應距離遠，-感應距離近。</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>計時旋鈕可調整電燈啟動後，多久時間自動關閉電燈。</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>按鍵按一下，自動變手動，LED高亮，可手控燈亮或滅。</td>
																</tr>
																<tr>
																	<td>5.</td>
																	<td>按鍵長壓3秒，手動變自動，LED微亮。</td>
																</tr>
																<tr>
																	<td>6.</td>
																	<td>通電後須熱機10分鐘後才能穩定作用。</td>
																</tr>
															</tbody>
														</table>
													</div>
										
										
										<h2>產品規格</h2>
										<div class="table-wrapper">
														<table class="alt">
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>體積大小</td>
																	<td>44×22×37 mm</td>
																</tr>
																<tr>
																	<td>單蕊線</td>
																	<td>ψ1.6或ψ2.0 mm切掉外皮包覆 18mm</td>
																</tr>
																<tr>
																	<td>適用電壓</td>
																	<td>AC 110V</td>
																</tr>
																<tr>
																	<td>負載範圍</td>
																	<td>5W～200W傳統燈泡，10W～100W日光燈或省電燈泡</td>
																</tr>
																<tr>
																	<td>消耗功率</td>
																	<td>10mW</td>
																</tr>
																<tr>
																	<td>感應距離</td>
																	<td>約7公尺</td>
																</tr>
															</tbody>
															<tfoot>
															</tfoot>
														</table>
													</div>
									
									<h2>安裝方法</h2>
									<div class="box alt">
											<div class="row 50% uniform">
											<div class="2u"><span class="image fit"></span></div>
											<div class="8u"><span class="image fit"><img src="images/autocontrol/w1_3c.jpg" alt="" /></span></div>
											<div class="2u$"><span class="image fit"></span></div>
											</div></div>
									
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>將原開關其中一條電線插入感應開關１或2孔內，再將另一條電線插入感應開關３或４孔內。</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>原配線圖：如（圖一），改裝感應開關後如（圖二）。</td>
																</tr>
															</tbody>
														</table>
													</div>
										
									
									<h2>注意事項</h2>
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>安裝前請先關閉電源，以免發生觸電危險。</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>安裝前請留意本產品之電壓及負載規格。</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>避免陽光直接曝曬及潮溼。</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>本產品於停電後再復電時，會進入自動模式。</td>
																</tr>
																<tr>
																	<td>5.</td>
																	<td>少部份廠牌省電燈泡，因其內部電路設計不同，與本產品搭配會有閃爍現象，請於燈泡兩端並接上一個0.1uF耐壓400V的電容。</td>
																</tr>
															</tbody>
														</table>
													</div>
										
									</font>
									<h2>PIR感應開關圖示說明</h2>
									<div class="posts">
										<article>
											<a href="#" class="image"><img src="images/autocontrol/w1_4c.jpg" alt="" /></a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/autocontrol/w1_5c.jpg" alt="" /></a>
										</article>
									</div>
												
												<div style="text-align:center">
													<ul class="pagination">
														<li><span class="button disabled">Prev</span></li>
														<li><a  class="page active">1</a></li>
														<li><a href="#!zh-tw/autocontrol/p2" class="page">2</a></li>
														<li><a href="#!zh-tw/autocontrol/p3" class="page">3</a></li>
														<li><a href="#!zh-tw/autocontrol/p4" class="page">4</a></li>
														<li><a href="#!zh-tw/autocontrol/p5" class="page">5</a></li>
														<li><a href="#!zh-tw/autocontrol/p2" class="button">Next</a></li>
													</ul>
												</div>
								</section>