								<section>
									<header class="main">
										<h1>PIR感應自動樓梯燈(雙切)開關</h1>
									</header>

									<font  color="black">
									<h2>產品特性</h2>
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>人來燈就亮，不用摸黑找開關，踩空樓梯</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>有延遲關燈時間，人離開燈就滅。</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>不必碰觸開關，防觸電，不會摸髒牆壁。</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>與原配線相同，免重新拉線。</td>
																</tr>
																<tr>
																	<td>5.</td>
																	<td>外觀與傳統開關相同，可直接替換。</td>
																</tr>
																<tr>
																	<td>6.</td>
																	<td>安裝簡單，可自行DIY。</td>
																</tr>
															</tbody>
														</table>
													</div>
										
									
									<h2>產品簡介</h2>
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>您是否曾經在夜晚要上樓時，摸黑找開關不小心撞到階梯，要下樓時摸黑找開關，差點踩空樓梯而摔倒。為此本公司針對這問題研發出此一產品，當人一接近樓梯口時，由熱紅外線感應而開啟電燈，保障您夜晚上下樓梯的安全。</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>本產品是將雙切開關(二個開關控制一個電燈)迴路，改為由熱紅外線自動感應，如樓梯燈或長廊走道燈。</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>雙切開關迴路就是樓上樓下各有一個開關共同控制一個電燈，而開關一般都會裝在要上下樓梯位置的牆壁上，因此只要直接將雙切開關更換成本產品，不論在上樓或下樓皆可馬上感應開燈。</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>本產品尺寸大小與傳統開關一樣，配線也與原配線相同，因此不用重新拉線，替換簡單可自行DIY。</td>
																</tr>
																<tr>
																	<td>5.</td>
																	<td>全自動感應開燈，延時關燈，不用動手，防止觸電，不會摸髒開關周圍的牆壁。</td>
																</tr>
															</tbody>
														</table>
													</div>
										
									<h2>產品照片</h2>
									<div class="posts">
										<article>
											<a href="#" class="image"><img src="images/autocontrol/w2_1.jpg" alt="" /></a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/autocontrol/w2_2.jpg" alt="" /></a>
										</article>
									</div>
									
									<h2>操作說明</h2>
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>內有明暗設計，白天不感應，感應3分鐘後自動熄滅。</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>按鍵按一下，自動變手動，LED高亮，可手控燈亮或滅。</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>按鍵長壓3秒，手動變自動，LED微亮。</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>通電後須熱機10分鐘後才能穩定作用。</td>
																</tr>
															</tbody>
														</table>
													</div>
										
										
										<h2>產品規格</h2>
										<div class="table-wrapper">
														<table class="alt">
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>體積大小</td>
																	<td>44×22×37 mm</td>
																</tr>
																<tr>
																	<td>單蕊線</td>
																	<td>ψ1.6或ψ2.0 mm切掉外皮包覆 18mm</td>
																</tr>
																<tr>
																	<td>適用電壓</td>
																	<td>AC 110V</td>
																</tr>
																<tr>
																	<td>負載範圍</td>
																	<td>5W～80W傳統或省電燈泡，10W～40W日光燈</td>
																</tr>
																<tr>
																	<td>感應距離</td>
																	<td>約3公尺</td>
																</tr>
															</tbody>
															<tfoot>
															</tfoot>
														</table>
													</div>
									
									<h2>適用燈泡</h2>
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>日光燈啟動速度慢，較不建議與本產品搭配使用，但是你也可以更換為電子啟動器或電子安定器，並請於燈泡兩端並接上一個0.1uF耐壓400V的電容。</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>少部份廠牌省電燈泡，因其內部電路設計不同，與本產品搭配會有閃爍現象，請於燈泡兩端並接上一個0.1uF耐壓400V的電容。</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>傳統鎢絲燈泡任何廠牌皆可使用。</td>
																</tr>
															</tbody>
														</table>
													</div>
										
									<h2>安裝方法</h2>
									<div class="box alt">
											<div class="row 50% uniform">
											<div class="2u"><span class="image fit"></span></div>
											<div class="8u"><span class="image fit"><img src="images/autocontrol/w2_3c.jpg" alt="" /></span></div>
											<div class="2u$"><span class="image fit"></span></div>
											</div></div>
									
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>切斷電源，打開樓上、樓下壁上開關蓋板，取出開關，拆除電線，銅線如有氧化生銹，請清潔乾淨。</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>將樓上電燈出線A插上主控器插孔1，將樓下地線D插上副控器插孔1。</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>將樓下剩下兩條線的其中一條插上副控器插孔4（B與C兩條電線顏色，大部份皆同色）。</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>打開電源，將樓上剩下兩條線的其中一條接觸主控器插孔1的電線A，電燈會亮的那一條線為電線C。</td>
																</tr>
																<tr>
																	<td>5.</td>
																	<td>切斷電源，將剛測出的電線C插上主控器插孔4。</td>
																</tr>
																<tr>
																	<td>6.</td>
																	<td>剩下的電線B插在主控器插孔3與副控器插孔3。</td>
																</tr>
																<tr>
																	<td>7.</td>
																	<td>裝好自動開關，蓋上蓋板，打開電源即可測試使用。</td>
																</tr>
															</tbody>
														</table>
													</div>
										
									
									<h2>注意事項</h2>
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>安裝請配帶絕緣手套，以免發生觸電。</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>安裝前請詳讀說明書，並照步驟施工，以免損壞本產品。</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>安裝前請留意本產品之電壓及負載規格。</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>避免陽光直接曝曬及潮溼。</td>
																</tr>
															</tbody>
														</table>
													</div>
										
									</font>
									<h2>PIR感應自動樓梯燈(雙切)開關圖示說明</h2>
									<div class="box alt">
											<div class="row 50% uniform">
											<div class="2u"><span class="image fit"></span></div>
											<div class="8u"><span class="image fit"><img src="images/autocontrol/w2_4c.jpg" alt="" /></span></div>
											<div class="2u$"><span class="image fit"></span></div>
											</div></div>
										
												<div style="text-align:center">
													<ul class="pagination">
														<li><a href="#!zh-tw/autocontrol/p1" class="button">Prev</a></li>
														<li><a href="#!zh-tw/autocontrol/p1" class="page">1</a></li>
														<li><a  class="page active">2</a></li>
														<li><a href="#!zh-tw/autocontrol/p3" class="page">3</a></li>
														<li><a href="#!zh-tw/autocontrol/p4" class="page">4</a></li>
														<li><a href="#!zh-tw/autocontrol/p5" class="page">5</a></li>
														<li><a href="#!zh-tw/autocontrol/p3" class="button">Next</a></li>
													</ul>
												</div>
								</section>