								<section>
									<header class="main">
										<h1>拍手聲控點燈開關</h1>
									</header>

									<font color="black">
									<h2>產品特性</h2>
								
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>拍手聲控，不必起身動手，使用方便。</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>不必碰觸開關，防觸電，不會摸髒牆壁。</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>與原配線相同，免重新拉線。</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>安裝簡單，可自行DIY。</td>
																</tr>
																<tr>
																	<td>5.</td>
																	<td>外觀與傳統開關相同，可直接替換。</td>
																</tr>
																<tr>
																	<td>6.</td>
																	<td>適用於較安靜的場所如臥室、書房等。</td>
																</tr>
															</tbody>
														</table>
													</div>
									
									
									<h2>產品簡介</h2>
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>您是否在床上看書、看電視累了，想直接倒頭就睡，卻還要起床關電燈。您是否半夜起床上廁所，還要摸黑開電燈，甚至不小心被物品絆到跌倒。有了拍手聲控開關，累了拍個手馬上關燈直接倒頭就睡，半夜起來上廁所拍個手馬上開燈，安全又便利。</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>外觀尺寸大小與傳統開關相同，可直接替換。與原來配線相同，不用再重新拉線。</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>按鍵開關可以手動開燈關燈，不用再外加開關。</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>按鍵開關可以取消或啟動拍手功能，方便使用。</td>
																</tr>
																<tr>
																	<td>5.</td>
																	<td>本產品適用於較安靜的場所如臥室、書房等，過於吵雜的環境會影響拍手聲控的效果。</td>
																</tr>
															</tbody>
														</table>
													</div>
										
									<h2>產品照片</h2>
									<div class="posts">
										<article>
											<a href="#" class="image"><img src="images/autocontrol/w4_1.jpg" alt="" /></a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/autocontrol/w4_2.jpg" alt="" /></a>
										</article>
									</div>
									
									<h2>操作說明</h2>
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>拍手2下可開燈或關燈，二手掌呈半包覆狀拍手才會大聲，拍手間隔需在0.2秒~0.5秒之間。</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>按鍵按一下，切換開關狀態，開燈可切換至關燈，關燈可切換至開燈。</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>按鍵長壓3秒啟動或取消拍手功能，LED微亮為拍手取消模式，LED高亮為拍手啟動模式。</td>
																</tr>
															</tbody>
														</table>
													</div>
										
										<h2>產品規格</h2>
										<div class="table-wrapper">
														<table class="alt">
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>體積大小</td>
																	<td>44×22×37 mm</td>
																</tr>
																<tr>
																	<td>單蕊線</td>
																	<td>ψ1.6或ψ2.0 mm切掉外皮包覆 18mm</td>
																</tr>
																<tr>
																	<td>適用電壓</td>
																	<td>AC 110V</td>
																</tr>
																<tr>
																	<td>負載範圍</td>
																	<td>5W～200W傳統燈泡，10W～100W日光燈或省電燈泡</td>
																</tr>
																<tr>
																	<td>消耗功率</td>
																	<td>10mW</td>
																</tr>
															</tbody>
															<tfoot>
															</tfoot>
														</table>
													</div>
									
									<h2>安裝方法</h2>
									<div class="box alt">
											<div class="row 50% uniform">
											<div class="2u"><span class="image fit"></span></div>
											<div class="8u"><span class="image fit"><img src="images/autocontrol/w4_3c.jpg" alt="" /></span></div>
											<div class="2u$"><span class="image fit"></span></div>
											</div></div>
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>切斷電源，打開壁上開關蓋板，取出開關，拆除電線，銅線如有氧化生銹，請清潔乾淨。</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>將原開關其中一條電線插入拍手開關1或2孔內，再將另一條電線插入拍手開關3或4孔內。</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>原配線圖：如（圖一），改裝拍手開關後如（圖二）。</td>
																</tr>
															</tbody>
														</table>
													</div>
									
									<h2>注意事項</h2>
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>安裝前請先關閉電源，以免發生觸電危險。</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>安裝前請留意本產品之電壓及負載規格。</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>避免陽光直接曝曬及潮溼。</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>本產品於停電後再復電時，均會自動進入拍手啟動模式。</td>
																</tr>
																<tr>
																	<td>5.</td>
																	<td>本產品需使用於環境安靜的地方，環境吵雜會使本產品可能產生誤動作。</td>
																</tr>
																<tr>
																	<td>6.</td>
																	<td>少部份廠牌省電燈泡，因其內部電路設計不同，與本產品搭配會有閃爍現象，請於燈泡兩端並接上一個0.1uF耐壓400V的電容。</td>
																</tr>
															</tbody>
														</table>
													</div>
									</font>
									<h2>拍手開關圖示說明</h2>
									<div class="box alt">
											<div class="row 50% uniform">
											<div class="2u"><span class="image fit"></span></div>
											<div class="8u"><span class="image fit"><img src="images/autocontrol/w4_4c.jpg" alt="" /></span></div>
											<div class="2u$"><span class="image fit"></span></div>
											</div></div>

												<div style="text-align:center">
													<ul class="pagination">
														<li><a href="#!zh-tw/autocontrol/p3" class="button">Prev</a></li>
														<li><a href="#!zh-tw/autocontrol/p1" class="page">1</a></li>
														<li><a href="#!zh-tw/autocontrol/p2" class="page">2</a></li>
														<li><a href="#!zh-tw/autocontrol/p3" class="page">3</a></li>
														<li><a  class="page active">4</a></li>
														<li><a href="#!zh-tw/autocontrol/p5" class="page">5</a></li>
														<li><a href="#!zh-tw/autocontrol/p5" class="button">Next</a></li>
													</ul>
												</div>
								</section>