								<section>
									<header class="main">
										<h1>非接觸感應點燈開關</h1>
									</header>

									<font color="black">
									<h2>產品特性</h2>
								
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>接近感應，不必碰觸開關，防病菌感染。</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>不必碰觸開關，防觸電，不會摸髒牆壁。</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>與原配線相同，免重新拉線。</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>安裝簡單，可自行DIY。</td>
																</tr>
																<tr>
																	<td>5.</td>
																	<td>外觀與傳統開關相同，可直接替換。</td>
																</tr>
																<tr>
																	<td>6.</td>
																	<td>有延遲關燈功能，使用安全方便。</td>
																</tr>
																<tr>
																	<td>7.</td>
																	<td>適用於學校、公共廁所、醫院…等公共場所。</td>
																</tr>
															</tbody>
														</table>
													</div>
									
									
									<h2>產品簡介</h2>
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>新流感、腸病毒、SARS，在這個病毒橫行的時代，勤洗手是阻絕病毒感染的最佳方法，相對的手接觸也是傳染病毒的最佳途徑，因此在公共場所(醫院、診所、學校…)開關電燈，也成感染病毒的途徑之一，只要將現有開關更換成本產品，手一接近就可開關電燈，不用直接接觸到開關，減少病毒感染的機會。</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>在家裡浴室跟廚房是最常將手弄濕還要開關電燈的地方，也因此是最常發生觸電的地方，只要將現有開關換裝成本產品，手一接近就可開關電燈，不用直接接觸到開關，免除觸電的危險。</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>附加有延時關燈的功能，啟動後關燈時可延後30秒再關燈，關燈後可暫時不用摸黑走路。浴室也可於使用後讓排氣扇多運轉一段時間，降低浴室內的濕度及氣味。</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>外觀尺寸大小與傳統開關相同，可直接替換。與原來配線相同，不用再重新拉線。</td>
																</tr>
																<tr>
																	<td>5.</td>
																	<td>近接感應開關燈，不用接觸，防止觸電，不會摸髒開關周圍的牆壁。</td>
																</tr>
															</tbody>
														</table>
													</div>
										
									<h2>產品照片</h2>
									<div class="posts">
										<article>
											<a href="#" class="image"><img src="images/autocontrol/w5_1.jpg" alt="" /></a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/autocontrol/w5_2.jpg" alt="" /></a>
										</article>
									</div>
									
									<h2>操作說明</h2>
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>手靠近感應開關約5公分，LED快閃表示有感應到手接近，這時開關會點亮電燈，手再次靠近時，會關閉電燈。</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>按鍵按一下，LED高亮，為正常模式，手靠近開燈，再靠近一次關燈。</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>按鍵按一下，LED微亮，為延遲關燈模式，手靠近開燈，再靠近一次LED慢閃，然後LED會越閃越快至30秒後才關燈。</td>
																</tr>
															</tbody>
														</table>
													</div>
										
										<h2>產品規格</h2>
										<div class="table-wrapper">
														<table class="alt">
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>體積大小</td>
																	<td>44×22×37 mm</td>
																</tr>
																<tr>
																	<td>單蕊線</td>
																	<td>ψ1.6或ψ2.0 mm切掉外皮包覆 18mm</td>
																</tr>
																<tr>
																	<td>適用電壓</td>
																	<td>AC 110V</td>
																</tr>
																<tr>
																	<td>負載範圍</td>
																	<td>5W～200W傳統燈泡，10W～100W日光燈或省電燈泡</td>
																</tr>
																<tr>
																	<td>消耗功率</td>
																	<td>10mW</td>
																</tr>
															</tbody>
															<tfoot>
															</tfoot>
														</table>
													</div>
									
									<h2>安裝方法</h2>
									<div class="box alt">
											<div class="row 50% uniform">
											<div class="2u"><span class="image fit"></span></div>
											<div class="8u"><span class="image fit"><img src="images/autocontrol/w5_3c.jpg" alt="" /></span></div>
											<div class="2u$"><span class="image fit"></span></div>
											</div></div>
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>切斷電源，打開壁上開關蓋板，取出開關，拆除電線，銅線如有氧化生銹，請清潔乾淨。</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>將原開關其中一條電線插入近接開關1或2孔內，再將另一條電線插入近接開關3或4孔內。</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>原配線圖：如（圖一），改裝近接開關後如（圖二）。</td>
																</tr>
															</tbody>
														</table>
													</div>
									
									<h2>注意事項</h2>
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>安裝前請先關閉電源，以免發生觸電危險。</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>安裝前請留意本產品之電壓及負載規格。</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>避免陽光直接曝曬及潮溼。</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>本產品於停電後再復電時，均會自動進入正常模式。</td>
																</tr>
																<tr>
																	<td>5.</td>
																	<td>少部份廠牌省電燈泡，因其內部電路設計不同，與本產品搭配會有閃爍現象，請於燈泡兩端並接上一個0.1uF耐壓400V的電容。</td>
																</tr>
															</tbody>
														</table>
													</div>
									</font>
									<h2>近接開關圖示說明</h2>
									<div class="box alt">
											<div class="row 50% uniform">
											<div class="2u"><span class="image fit"></span></div>
											<div class="8u"><span class="image fit"><img src="images/autocontrol/w5_4c.jpg" alt="" /></span></div>
											<div class="2u$"><span class="image fit"></span></div>
											</div></div>
											
												<div style="text-align:center">
													<ul class="pagination">
														<li><a href="#!zh-tw/autocontrol/p4" class="button">Prev</a></li>
														<li><a href="#!zh-tw/autocontrol/p1" class="page">1</a></li>
														<li><a href="#!zh-tw/autocontrol/p2" class="page">2</a></li>
														<li><a href="#!zh-tw/autocontrol/p3" class="page">3</a></li>
														<li><a href="#!zh-tw/autocontrol/p4" class="page">4</a></li>
														<li><a  class="page active">5</a></li>
														<li><span class="button disabled">Next</span></li>
													</ul>
												</div>
								</section>