								<section>
									<header class="main">
										<h1>Contact Us</h1>
									</header>
									<p><h2>If you need our service, you can use the following contact information, thank you.</h2></p>
									<h2>
									<div style="text-align:center">
										Tel: 886-6-2580620</br>
										Fax:886-6-2596497</br>
										No.4 Lane. 117 Sec. 4 Hewei Road, Tainan, Taiwan</br>
										E-mail: suntechnn@yahoo.com.tw</br>
								</div>
								</h2>
									<br> </br>
<!--
									<form method="post" action="contactusE.php">
														<div class="row uniform">
															<div class="6u 12u$(xsmall)">
																<input type="text" name="name" id="name" value="<?php echo $_POST['name'];?>" placeholder="Name" />
															</div>
															<div class="3u 12u$(small)">
																<input type="radio" id="male" name="sex" value="男" checked>
																<label for="male">Mr.</label>
															</div>
															<div class="3u 12u$(small)">
																<input type="radio" id="female" name="sex" value="女">
																<label for="female">Ms.</label>
															</div></div>
															<div class="row uniform">
															<div class="6u 12u$(xsmall)">
																<input type="text" name="phone" id="phone" value="<?php echo $_POST['phone'];?>" placeholder="Phone" />
															</div>
															<div class="6u$ 12u$(xsmall)">
																<input type="text" name="cellphone" id="cellphone" value="<?php echo $_POST['cellphone'];?>" placeholder="Mobile" />
															</div>
															<div class="12u$ 12u$(xsmall)">
																<input type="email" name="email" id="email" value="<?php echo $_POST['email'];?>" placeholder="E-mail" />
															</div>
															<div class="12u$ 12u$(xsmall)">
																<input type="text" name="address" id="address" value="<?php echo $_POST['address'];?>" placeholder="Address" />
															</div>
															
															<div class="12u$">
																<textarea name="remark" id="remark" placeholder="Enter your message" rows="6"><?php echo $_POST['remark'];?></textarea>
															</div>

															<div class="12u$">
																<ul class="actions">
																	<li><input type="submit" id="submit" name="submit" value="Send" class="special" /></li>
																	<li><input type="reset" value="Clear" /></li>
																</ul>
															</div>
														</div>
													</form> -->
								</section>
								<section>
								<div style="text-align:center">
										SUNNY TECHNOLOGY CO.,LTD.</br>
										NO.4 LANE. 117 SEC. 4 HEWEI ROAD TAINAN TAIWAN</br>
										Tel: 886-6-2580620&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fax:886-6-2596497</br>
										E-mail: suntechnn@yahoo.com.tw</br>
								</div>
								</section>