								<section id="banner">
									<div class="content">
										<header>
											<h1>About us<br />
											</h1>
										</header>
											<font  color="black">
											&nbsp;&nbsp;&nbsp;&nbsp;SUNNY TECHNOLOGY CO., LTD. Was established in 1993.The main goal we always keep is research and promotion -- quality best, technology first. </p>
											&nbsp;&nbsp;&nbsp;&nbsp;We care what's clients cared.  And providing the products with  best quality and reasonable price is always we asked for all our clients.</p>
											&nbsp;&nbsp;&nbsp;&nbsp;Our main products separate to two main programs one is car parking sensor (waterproof type ultrasonic transducer) another one is home automatic controlor.</p>
											&nbsp;&nbsp;&nbsp;&nbsp;We provide production, selling and technology service of above products.  Also accept related electron products research and production. </p>
											</font>
									</div>
									<span class="image object">
									<style type="text/css">.easyhtml5video .eh5v_script{display:none}</style>
<div class="easyhtml5video" style="position:relative;max-width:480px;"><video controls  autoplay="autoplay" poster="eh5v.files/html5video/PhotoStory2.jpg" style="width:100%" title="Video" loop onEnded="var v=this;setTimeout(function(){v.play()},300)">
<source src="eh5v.files/html5video/PhotoStory2.webm" type="video/webm" />
<source src="eh5v.files/html5video/PhotoStory2.ogv" type="video/ogg" />
<source src="eh5v.files/html5video/PhotoStory2.mp4" />
</video><div class="eh5v_script"></div></div>
<script src="eh5v.files/html5video/html5ext.js" type="text/javascript"></script>
									<!--	<img src="images/pic10.jpg" alt="" />-->
									</span>

								</section>

							<!-- Section -->

							<!-- Section -->
								<section>
									<header class="major">
										<h2>main products</h2>
									</header>
									<div class="posts">
										<article>
											<a href="#!en-us/autocontrol" class="image"><img src="images/w11_2.jpg" alt="" /></a>
											<h3>Home Autocontrol</h3>
											<p>Focus on home autocontrol equipment.</p>
											<ul class="actions">
												<li><a href="#!en-us/autocontrol" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#!en-us/sensor" class="image"><img src="images/q3.jpg" alt="" /></a>
											<h3> Ultrasonic Sensor</h3>
											<p>Can be used in parking sensor and indoor short distance 3D positioning system etc.</p>
											<ul class="actions">
												<li><a href="#!en-us/sensor" class="button">More</a></li>
											</ul>
										</article>
									</div>
								</section>
								<section>
								<div style="text-align:center">
										SUNNY TECHNOLOGY CO.,LTD.</br>
										NO.4 LANE. 117 SEC. 4 HEWEI ROAD TAINAN TAIWAN</br>
										Tel: 886-6-2580620&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fax:886-6-2596497</br>
										E-mail: suntechnn@yahoo.com.tw</br>
								</div>
								</section>