								<section>
									<header class="main">
										<h1>Ultrasonic Sensor Application</h1>
									</header>
										<font color="black" size="4">
										<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1.</td>
																	<td>Parking sensor.</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>Indoor short distance 3D positioning system.</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>Tow away to join positionor.</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>Vehicles follow human body controlor (Golf caddie vehicles).</td>
																</tr>
																<tr>
																	<td>5.</td>
																	<td>Video camera to track human body controlor (For lecture or extension classes to video camera record).</td>
																</tr>
																<tr>
																	<td>6.</td>
																	<td> Green computer monitor controlor (Human body to leave seat at once turn off computer monitor , human body back to seat at once turn on computer monitor).</td>
																</tr>
																<tr>
																	<td>※</td>
																	<td>About Technology Support Please Contact Us</td>
																</tr>
															</tbody>
														</table>
													</div>
												</font>
									
									
												<div style="text-align:center">
													<ul class="pagination">
														<li><a href="#!en-us/sensor/p9" class="button">Prev</a></li>
														<li><a href="#!en-us/sensor/p1" class="page">1</a></li>
														<li><a href="#!en-us/sensor/p2" class="page">2</a></li>
														<li><a href="#!en-us/sensor/p3" class="page">3</a></li>
														<li><a href="#!en-us/sensor/p4" class="page">4</a></li>
														<li><a href="#!en-us/sensor/p5" class="page">5</a></li>
														<li><a href="#!en-us/sensor/p6" class="page">6</a></li>
														<li><a href="#!en-us/sensor/p7" class="page">7</a></li>
														<li><a href="#!en-us/sensor/p8" class="page">8</a></li>
														<li><a href="#!en-us/sensor/p9" class="page">9</a></li>
														<li><a  class="page active">10</a></li>
														<li><span class="button disabled">Next</span></li>
													</ul>
												</div>
								</section>